# Strings

- strings are *ordered* sequence of characters
- strings are *immutable* 
  - i.e. cannot be modified after being created

### Defining Strings

In [ ]:
# string defined with single quotes
name_one = 'TECH I.S.'
print(name_one)

# string defined with double quotes
name_two = "TECH I.S."
print(name_two)

# string defined with triple single quotes
name_three = '''This is a long string and supports 
                multiline statements as well
             '''
print(name_three)

# string defined with double quotes inside the single quotes
name_four = 'Hello, "TECH I.S. Student"'
print(name_four)

#### Welcome to the second chapter !

### Excercise : 1 

Make two strings ,`first_name` and `last_name` and add your name in those strings and then print them

### String Immutability Test

In [ ]:
# define string
s = "hello"

# attempt assigment
s[0] = 'y' #throws error - hence strings are immutable

In [ ]:
# however, rebinding works 
# reassigning s with 'y' concatenated with 'ello' extracted from s
s = 'y' + s[1:len(s)]

print(s)

#### Now that we know strings are immutable

### Excercise : 2 

In the above string where we are replacing the `h` of `hello` to `y` ,write a command which adds `w` at the end of `yello` to make `yellow` !

### String Concatenation

In [ ]:
first_name = "TECH"
last_name = "I.S."
full_name = first_name + ' ' + last_name
print(full_name)

#### What are the practical way of using string concatenation ? 

### Excercise : 3 

In **Excercise : 1 ** we had created two strings ,`first_name` and `last_name` , write a command to print these two variables in the same line by concatenating them !

### String Multiplication

In [ ]:
name = 'Hayato'
print(name)
name_thrice = name * 3
print(name_thrice)
print(name*4)
print(name*10)

#### Printing the same string can be time consuming !

### Excercise : 4

Print your `first_name` six times using string multiplication, do you find it easier compared to writting 6 individual prints?

### String Length

In [ ]:
# check length of string
name = "TECH I.S."
len(name)

### String Indexing

- in Python, 
  - indexing of sequences starts from 0
- string is a text sequence, 
  - so indexing for strings starts from 0

![string indexing](https://i.imgur.com/eYQmNiWl.jpg "String Indexing")

In [ ]:
# define a string 
s = "abc"

# indexing starts from 0 in Python

# use square brackets and the index number to access data
print(s[0]) # output: a
print(s[1]) # output: b
print(s[2]) # output: c

print(s[-1]) # output: c
print(s[-2]) # output: b
print(s[-3]) # output: a

print(s[3]) # output: index error

#### Let's see if we can get the letter out of the string using the index value !

### Excercise :  5

Create a variable with the string value `This is one sentence!`, print out the index of the `o`

### String Slicing 

- extract sub-sections of a string
- slice strings using format `[start:stop:step]`
  - `step = 1` by default
  - you may also omit numbers and use only colons (`:`)

In [ ]:
# define a new string 
s = 'abcdefgh'

print(s[3:6])     #output: def
print(s[3:6:1])   #output: def
print(s[3:6:2])   #output: df
print(s[::])      #output: abcdefgh (useful for copying string content into new memory location)
print(s[::-1])    #output: hgfedbca (reverse string command)
print(s[4:1:-2])  #output: ec

#### This time let's get a word out of our string 

### Excercise : 6 

From the variable you created in **Excercise : 5** by using string slicing, print out `one`

# Lists

- lists are ordered sequences of objects
  - they are mutable

In [ ]:
# define a list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# view list 
print(new_list)

#### Let's build our own lists now

### Excercise : 7 

Create grocery list in form of a python script ,you can add items such as `banana`,`milk` etc !

##### Accessing List Elements

- indexing in lists works just like strings 
- indexing starts from zero

In [ ]:
# define a list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']


print(new_list[0]) # zeroth element
print(new_list[1]) # first element
print(new_list[2]) # second element
print(new_list[3]) # third element

print(new_list[-1]) # last element
print(new_list[-2]) # last but one element
print(new_list[-3]) # last but two element
print(new_list[-4]) # last but three element

#### Let's take out a element from our list 

### Excercise : 8 

From the grocery we just created in the above section, using list slicing print out the `banana` element

##### Nested Lists

- lists can be embedded inside lists
  - multiple nesting is also supported

In [ ]:
# define nested lists 
nested_list = [
               [1,2,3],
               ['a','b','c'],
               [True,False,7],
              ]

# check nested list
print(nested_list)

#### Let's build our own nested lists !

### Excercise : 9 

Make a nested list of various your favorite animals ,colours and songs and then print it

##### List Mutability Test

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# try changing content in list
new_list[2] = 'one' # accepts change

# check list
print(new_list)

##### Append to List

- append can add *only one* element at the end of a list at a time

In [ ]:
# define a list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# print new list
print(new_list)

# append 'wohoo' to new_list
new_list.append('wohoo!')

# check apended value
print(new_list)

##### Extend List

- used to add multiple elements at the end of the list

In [ ]:
# define a list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# print new list
print(new_list)

# extend new_list with multiple elements in an array
new_list.extend(["Let's", "do", "this","!"])
# NOTE: multiple elements have to be input in array

print(new_list)

##### Insert to List

- can add an element at a given position in the list
- can add only one element at a time
- two arguments: 
  - first argument specifies the position 
  - second argument specifies the element to be inserted

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# insert element 'Chocolate' at spot 3 in new_list
new_list.insert(3,'Chocolate')

# check insertion
print(new_list)

#### Now that we know how to insert into a list ,

### Excercise : 10

In the list that you created in **Excercise : 5** append `almonds` into it !

##### Remove from List

- used to remove an element from the list
  - in the case of multiple occurrences, only the first is removed

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# remove 20 from new_list
new_list.remove(20)

# check removal
print(new_list)

#### Maybe almonds was not a good idea ,

### Excercise : 11 

Perform a removal operation `almonds` from your list which you just added to

##### Pop from List

- can remove an element from any position in the list
  - removes index item
- element is not specified like in `remove()` method, only the index position

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# pop spot 2 from list
new_list.pop(2)

# check list 
print(new_list)

#### Let's also remove the latest element for our grocery list 

### Excercise : 12 

From the list from which you just removed `almonds` perform a `.pop()` function on it

##### `remove()` vs. `pop()`

|`remove()`|`pop()`|
|---|---|
|removes element by identification|removes by index|
|`new_list.remove(element_to_remove)`|`new_list.pop(index_number_to_remove)`|

##### List Slicing

- used to extract a sub-section of the list
  - index access works like string indexing and slicing

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# extract combinations of new_list extracts
print(new_list[:4])
print(new_list[2:])
print(new_list[1:5])
print(new_list[:])

##### Reverse a List

- used to reverse the elements of a list

- can be done in two ways
  - modify the original list
  - without modifying the original list

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# without modifying the original list
print(new_list[::-1])
print(new_list) # unmodified original list

# modify the original list
new_list.reverse() # modify original list
print(new_list)

##### Length of a List

- returns the number of elements in the list

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# print length of new_list
len(new_list)

##### Min & Max Values of a List

- min() returns the *minimum* value in the list
- max() returns the *maximum* value in the list

- NOTE: both methods accept only *homogeneous* lists 
  - i.e. list having elements of similar data type

In [ ]:
# define list
new_list = [8,12,7,10,52,33,21,99]

# check min and max of new_list
print(min(new_list))
print(max(new_list))

# define list
new_list = ['x','10','99','twenty','%$','--']

# check min and max of new_list
print(min(new_list))
print(max(new_list))

##### Count of an Element in a List

- returns the number of occurrences of a given element in the list

In [ ]:
# define list
new_list = [8,12,7,10,7,33,21,7]

# count the number of occurences of 7
print(new_list.count(7))

# count the number of occurences of 10
print(new_list.count(10))

#### How many items do we have in our grocery list 

### Excercise : 13 

On the list on which we performed `pop` run the `len` function and make a note of how many items we have !

##### Concatenate Lists

- used to merge two lists and return a single list

In [ ]:
# define two lists
list_first = ['three','hundred']
print(list_first)

list_second = ['words','in','a','paragraph']
print(list_second)

# concatenate lists
list_combined = list_first + list_second
print(list_combined)

##### Multiply List Content

- allows duplicating the list n times
- resultant list is the original list iterated n times

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# multiply list
print(new_list*2)
print(new_list*3)

##### Location of the First Occurence

 - `index()` method returns the position of the first occurrence of the given element


 - optional parameters: 
  - the begin index and 
  - the end index

- when optional arguments are given:
  - the element is searched only in the sub-list bound by the begin and end indices

- when not supplied,
  - the element is searched in the whole list

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# search index of 'TECH I.S.'
print(new_list.index('TECH I.S.'))

# search '@' with optional arguments
print(new_list.index('@',1,4))

##### Sort a List in Place 

- sort method sorts the list in ascending order
  - can only be performed on homogeneous lists, i.e. lists having elements of similar data type

In [ ]:
# define list
new_list = [4, 2, 6, 5, 0, 1] 

# check unsorted list
print(new_list)

# sort list
new_list.sort()

# check sorted list
print(new_list)

##### Create copy of Sorted List 

- leave the original list unsorted 
  - but create a new list with sorted items

In [ ]:
# define list
new_list = [4, 2, 6, 5, 0, 1] 

# print sorted list
new_sorted_list = sorted(new_list)

# check original list
print(new_list)

# check sorted list
print(new_sorted_list)

##### Erase List Content

In [ ]:
# define list
new_list = [4, 2, 6, 5, 0, 1] 

# check unsorted list
print(new_list)

# clear list
new_list.clear()

# check cleared list
print(new_list)

# Tuples

- tuples are ordered sequences of objects
  - they are immutable
  - i.e. their content cannot be changed after creation

##### Define a Tuple

In [ ]:
# create a new tuple - without specifying brackets
new_tuple_one = 1,2,3,4

# print tuple
print(new_tuple_one)

#--------------------------------------------------------
# create a new tuple - with brackets
new_tuple_two = (5,6,"python",8)

# print tuple
print(new_tuple_two)

#--------------------------------------------------------
# create empty tuple
empty_tuple = ()

# check empty tuple
print(empty_tuple)

#--------------------------------------------------------
# create tuple using Constructor
new_tuple_three = tuple(("apple","banana","cherry"))

# check empty tuple
print(new_tuple_three)

#--------------------------------------------------------
# single element tuples 
new_tuple_wrong = ("apple") # wrong single element tuple
print(type(new_tuple_wrong))  # outputs string
print(new_tuple_wrong)

new_tuple_right = ("apple",) # correct single element tuple
print(type(new_tuple_right)) # outputs tuple
print(new_tuple_right)

##### Indexing in Tuples

- indexing in tuples works just like strings

In [ ]:
# define a new tuple
new_tuple = "apple","orange","banana","berry","mango"

print(new_tuple[0]) # zeroth element
print(new_tuple[1]) # first element
print(new_tuple[2]) # second element
print(new_tuple[3]) # third element
print(new_tuple[4]) # fourth element

print(new_tuple[-1]) #last element
print(new_tuple[-2]) #last but one element
print(new_tuple[-3]) #last but two element
print(new_tuple[-4]) #last but three element

print(new_tuple[5]) # throws error - no fifth element

##### Tuple Immutability Test

In [ ]:
# define tuple
new_tuple = (1,7,'$', 'Summers', 'Winters' )

# try changing tuple content
new_tuple[4] = 'Spring' # throws error

##### Concatenation of Tuples

-  tuples are immutable, hence the data stored in a tuple cannot be edited 
- but it's definitely possible to merge two tuples to create a new tuple

In [ ]:
# define two new tuple
new_tuple_one = 9,5,6,4,2,1
new_tuple_two = 'a',5,7,6,3,1

print(new_tuple_one)
print(new_tuple_two)

# add a new element
merged_tuple = new_tuple_one + new_tuple_two

# check merged tuple
print(merged_tuple)

##### Multiplication (Duplication) of Tuples

- duplicates the content of a tuple, the specified number of times

In [ ]:
# define a tuple
new_tuple = 'a',5,7,6,3,1

print(new_tuple)

# multiply and print result
print(new_tuple*2)
print(new_tuple*3)

##### Length of a Tuple

In [ ]:
# define a tuple
new_tuple = 'a',5,7,6,3,1

len(new_tuple)

##### Min & Max Values of a Tuple

- min() returns the minimum value in the tuple
- max() returns the maximum value in the tuple

- both methods accept only homogeneous tuples 
  - i.e. tuples having elements of similar data type

In [ ]:
# define tuple
new_tuple = 8,12,7,10,52,33,21,99

# check min and max of new_tuple
print(min(new_tuple))
print(max(new_tuple))

# define list
new_tuple = 'x','10','99','twenty','%$','--'

# check min and max of new_list
print(min(new_tuple))
print(max(new_tuple))

##### Count of an Element in a Tuple

In [ ]:
# define a tuple
new_tuple = 5,3,6,3,1,3,2,3

# count the number of 3s in the tuple
print(new_tuple.count(3))

##### Location of First Occurence

In [ ]:
# define a tuple
new_tuple = 5,6,3,1,3,2,3

# find the index location of the first occurence of 3
print(new_tuple.index(3))

##### Delete a Tuple

- you cannot remove the elements in a tuple
- but you can delete an entire tuple

In [ ]:
# define a tuple
new_tuple = 5,3,6,3,1,3,2,3

# check tuple
print(new_tuple)

# delete the tuple
del(new_tuple)

# check deletion
print(new_tuple) # will throw an error becasue tuple doesnt exists



---

# Identity Operators 

- used to compare objects 
  - not if they are equal
  - but if they are actually the same object 
    - *with the same memory location*

- two identity operators:
  - `is`
  - `is not`

In [ ]:
# define lists
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

# 'is' test 
print(x is z)

# 'is' test 
print(x is y)

# equality test
print(x == y)

# 'is not' test
print(x is not y)

# Membership Operators

- used to test if a sequence has specified object

- two membership operators:
  - `in`
  - `not in`

In [ ]:
# define list 
x = ["apple", "banana"]

# 'in' test
print("banana" in x)

# 'in' test
print("pineapple" in x)

# 'not in' test
print("pineapple" not in x)